<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <p><label>Correo electronico:</label><input type="text" #email="ngModel" name="email" [(ngModel)]="user.email"
        required /></p>
    <p><label>Contraseña:</label><input type="password" #password="ngModel" name="password" [(ngModel)]="user.password"
        required /></p>
    <input type="submit" value="Entrar" />
  </form>

  <h1>Registro</h1>
  <form>
    <p><label>Nombre:</label><input type="text" required /></p>
    <p><label>Correo electronico:</label><input type="text" required /></p>
    <p><label>Contraseña:</label><input type="password" required /></p>
    <input type="submit" value="Registrarse" />
  </form>
</div>

<router-outlet></router-outlet>
